@import '../style/base.scss';
@import '../style/variable.scss';

#root {
  .nav.column .tab.add {
    background: $color-grey-base;
  }
  .modal {
    .create-project {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .name {
        width: 80%;
      }
      .color-select {
        display: flex;
        justify-content: space-evenly;
        width: 80%;
        margin-top: 3vw;
        .color-box {
          height: 5vw;
          border-radius: 10px;
          overflow: hidden;
          transition: box-shadow .3s;

        }
        .color {
          width: 5vw;
          height: 5vw;
        }
      }
    }
  }
}

.toast {
  @keyframes toast {
    0% {
      bottom: 52vw;
      opacity: 0;
    }
    10% {
      bottom: 50vw;
      opacity: 1;
    }
    80% {
      bottom: 50vw;
      opacity: 1;
    }
    100% {
      bottom: 45vw;
      opacity: 0;
    }
  }
  .message {
    position: relative;
    width: 55vw;
    text-align: center;
    background: $color-modal;
    color: white;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px 12px;
    border-radius: 2px;
    bottom: 50vw;
    opacity: 0;
    animation: 2s toast linear;
    font-size: 12px;
  }
}
