@import '../style/base.scss';
@import '../style/variable.scss';

#root {
  .nav.column .tab.add {
    background: $color-grey-base;
  }
  .modal {
    .create-project {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .name {
        width: 80%;
      }
      .color-select {
        display: flex;
        justify-content: space-evenly;
        width: 80%;
        margin-top: 3vw;
        .color-box {
          height: 5vw;
          border-radius: 10px;
          overflow: hidden;
          transition: box-shadow .3s;

        }
        .color {
          width: 5vw;
          height: 5vw;
        }
      }
    }
  }
}
