@import './home';
@import './variables';

a {
  text-decoration: none;
}

span {
  display: inline-block;
}
.root {
  height: 100vh;
  overflow: hidden;
}
.container {
  margin: -2.5rem 3rem 0 0.5rem;
  padding: 3.5rem 0 0 0.8rem;
  height: 34rem;
  background-color: #f9f9f1;
}
