@import '../../style/variable.scss';
.new-plan {
  * {
    display: inline-block;
    font-size: 1rem;
  }
  input {
    padding: 0 2px;
    margin: 0 2px;
  }
  p {
    line-height: 2rem;
  }
  select {
    width: 6rem;
    padding: .3rem;
    display: inline-flex;
  }
  .date-time {
    width: 7rem;
    display: inline-flex;
    align-items: center;
  }
  .name {
    width: 8rem;
  }
  .total {
    width: 2.5rem;
  }
  .unit {
    width: 2rem;
  }
  .weekly {
    border: 1px solid $color-red-light;
    margin: 0 .5rem;
    padding: .2rem .5rem;
    border-radius: 4px;
    line-height: 1rem;
    &.selected {
      background-color: $color-red-light;
      color: white;
    }
  }
  .plan {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    margin-top: 0;
    &.tip {
      margin: 0 2rem;
      border: 1px dashed;
      color: $color-grey-base;
      font-size: 1rem;
    }
  }
}
.modal.show.new-plan {
  .content {
    width: 20rem;
    height: 30rem;
    padding: 4vw;
  }
}
