@import '../../style/variable.scss';
.modal {
  $modal-background-color: rgba(0, 0, 0, .5);
  display: flex;
  position: fixed;
  z-index: 777;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  transition: .3s;
  opacity: 0;
  background-color: $modal-background-color;
  pointer-events: none;
  .content {
    position: relative;
    .title {
      border: none;
    }
  }
  &.show {
    opacity: 1;
    pointer-events: auto;
    .content {
      .header {
        height: 15vw;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .footer {
        margin-bottom: 6vw;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
        .btn.confirm {
          height: 8vw;
          background-color: #ff8351;
          color: white;
        }
        .btn.cancel {
          height: calc(8vw - 2px);
          border: 1px solid #ff8351;
          color: $color-black-base;
        }
      }
    }
  }
}

.modal {
  .content {
    background: white;
    width: 70vw;
    height: 50vw;
    border-radius: 5px;
  }
}
